#products-container{
    text-align: center;
    width: 100vw;
    padding: 100px 20px;
}

.cards-container{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.cards{
    background-color: #f6f6f6;
    width: calc(50% - 15px);
    padding: 20px 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards h3{
    margin: 0;
    font-size: 32px;
}

.cards img{
    width: 80%;
    max-height: 150px;
    padding: 30px;
}

.cards p{
    margin: 0;
    font-weight: bold;
    font-size: 22px;
}

ul{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li{
    text-align: left;
    margin: 5px;
}