#about-container{
    background-color: #f8f7ff;
    padding: 100px 20px;
    text-align: center;
}

#about-container p{
    line-height: 32px;
}


.cards-about{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}   

.cards-about{
    width: auto;
    height: auto;
}   

.cards-about-container{
    width: 50%;
    max-height: 300px;
    border: solid 1px #a2adad;
}

.cards-about-div{
    display: flex;
    flex-direction: column;
}   